In [ ]:
import pandas as pd

In [42]:
# Load input
file_path = 'input.txt'
# Seperator is three spaces
df = pd.read_csv(file_path,header=None, sep='   ')
df.rename(columns={0:'list1',1:'list2'}, inplace=True)

C:\Users\asus\AppData\Local\Temp\ipykernel_6380\3215056651.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(file_path,header=None, sep='   ')

In [43]:
print(df.head())  # Prints the first few rows of the DataFrame

   list1  list2
0  80421  40193
1  69841  31045
2  47850  64065
3  63141  52072
4  32908  83033

In [44]:
df.sort_values('list1', ascending=True)

     list1  list2
166  10282  43806
943  10365  50396
335  10618  32838
885  10696  57789
824  10887  14000
..     ...    ...
139  99285  16217
743  99552  33828
220  99604  28343
172  99643  52441
161  99775  96112

[1000 rows x 2 columns]

In [45]:
df.sort_values('list2', ascending=True)
# Here we can see that sorting the lists individually does not help us
# We need to sort them together, keeping the pairs intact
# But why?

     list1  list2
599  13743  10104
679  67936  10228
686  71897  10363
828  14724  10521
509  97698  10803
..     ...    ...
801  19112  99099
649  81194  99347
146  80739  99593
357  64295  99755
385  81946  99814

[1000 rows x 2 columns]

In [49]:
list1 = df[['list1']].copy()
list1 = list1.sort_values(by='list1', ascending=True).reset_index(drop=True)
#list1 = list1.sort_values('list1',ascending=True)
print(list1.head())

list2 = df[['list2']].copy()
list2 = list2.sort_values(by='list2', ascending=True).reset_index(drop=True)
print(list2.head())

   list1
0  10282
1  10365
2  10618
3  10696
4  10887
   list2
0  10104
1  10228
2  10363
3  10521
4  10803

In [50]:
df['list1'] = list1['list1']
df['list2'] = list2['list2']
print(df.head())

   list1  list2
0  10282  10104
1  10365  10228
2  10618  10363
3  10696  10521
4  10887  10803

In [54]:
df['difference'] = (df['list2'] - df['list1']).abs()
print(df.head())

   list1  list2  difference
0  10282  10104         178
1  10365  10228         137
2  10618  10363         255
3  10696  10521         175
4  10887  10803          84

In [55]:
sum = df['difference'].sum()
print(f'Sum of absolute differences: {sum}')

Sum of absolute differences: 2344935